## Read Parquet and Normalize

The goal of this script is to ingest the Parquet files and generate an artificial key to facilitate a join

#### Imports

In [1]:
import os 

# Move the execution of the folder up one directory - for importing functions
os.chdir('..')

from pyspark.sql import SparkSession
from etl.read_normalize import ingest_parquet, create_country_ids, create_country_code_ids, join_country_and_olympics, \
    fuzzy_match

/Users/coleparker/Documents/holman-bi-dev-test/venv/lib/python3.10/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
spark = SparkSession.builder.appName("OlympicCountryDataPipeline").getOrCreate()

# Setting log level from warn to error - suppressing warnings regarding window specs without partitioning
spark.sparkContext.setLogLevel("ERROR")

25/01/16 07:06:44 WARN Utils: Your hostname, Coles-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.0.0.235 instead (on interface en0)
25/01/16 07:06:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/16 07:06:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

#### Reading parquet files

In [3]:
# Declare countries path and ingest
countries_input = "datasets/countries.parquet"
df_countries = ingest_parquet(input_path = countries_input, spark = spark)

# Declare olympics path and ingest
olympics_input = "datasets/olympic_combined.parquet"
df_olympics = ingest_parquet(input_path = olympics_input, spark = spark)

In [4]:
df_countries.show(10)

+------------------+--------------------+-----------+----------+---------------------+--------------------------+-------------+--------------------------------+--------------+----------------+---------------+--------------+-------------+-------------+-------+---------+---------+-----------+--------+-------+
|      Country_Name|              Region| Population|Area_sq_mi|Pop_Density_per_sq_mi|Coastline_coast_area_ratio|Net_migration|Infant_mortality_per_1000_births|GDP_per_capita|Literacy_percent|Phones_per_1000|Arable_percent|Crops_percent|Other_percent|Climate|Birthrate|Deathrate|Agriculture|Industry|Service|
+------------------+--------------------+-----------+----------+---------------------+--------------------------+-------------+--------------------------------+--------------+----------------+---------------+--------------+-------------+-------------+-------+---------+---------+-----------+--------+-------+
|      Afghanistan |ASIA (EX. NEAR EA...|3.1056997E7|  647500.0|                 48.0|                       0.0|        23.06|                          163.07|         700.0|            36.0|            3.2|         12.13|         0.22|        87.65|    1.0|     46.6|    20.34|       0.38|    0.24|   0.38|
|          Albania |EASTERN EUROPE   ...|  3581655.0|   28748.0|                124.6|                      1.26|        -4.93|                           21.52|        4500.0|            86.5|           71.2|         21.09|         4.42|        74.49|    3.0|    15.11|     5.22|       0.23|    0.19|   0.58|
|          Algeria |NORTHERN AFRICA  ...|3.2930091E7| 2381740.0|                 13.8|                      0.04|        -0.39|                            31.0|        6000.0|            70.0|           78.1|          3.22|         0.25|        96.53|    1.0|    17.14|     4.61|        0.1|     0.6|    0.3|
|   American Samoa |OCEANIA          ...|    57794.0|     199.0|                290.4|                     58.29|       -20.71|                            9.27|        8000.0|            97.0|          259.5|          10.0|         15.0|         75.0|    2.0|    22.46|     3.27|       NULL|    NULL|   NULL|
|          Andorra |WESTERN EUROPE   ...|    71201.0|     468.0|                152.1|                       0.0|          6.6|                            4.05|       19000.0|           100.0|          497.2|          2.22|          0.0|        97.78|    3.0|     8.71|     6.25|       NULL|    NULL|   NULL|
|           Angola |SUB-SAHARAN AFRIC...|1.2127071E7| 1246700.0|                  9.7|                      0.13|          0.0|                          191.19|        1900.0|            42.0|            7.8|          2.41|         0.24|        97.35|   NULL|    45.11|     24.2|        0.1|    0.66|   0.25|
|         Anguilla |LATIN AMER. & CAR...|    13477.0|     102.0|                132.1|                      59.8|        10.76|                           21.03|        8600.0|            95.0|          460.0|           0.0|          0.0|        100.0|    2.0|    14.17|     5.34|       0.04|    0.18|   0.78|
|Antigua & Barbuda |LATIN AMER. & CAR...|    69108.0|     443.0|                156.0|                     34.54|        -6.15|                           19.46|       11000.0|            89.0|          549.9|         18.18|         4.55|        77.27|    2.0|    16.93|     5.37|       0.04|    0.22|   0.74|
|        Argentina |LATIN AMER. & CAR...|3.9921833E7| 2766890.0|                 14.4|                      0.18|         0.61|                           15.18|       11200.0|            97.1|          220.4|         12.31|         0.48|        87.21|    3.0|    16.73|     7.55|        0.1|    0.36|   0.55|
|          Armenia |C.W. OF IND. STATES |  2976372.0|   29800.0|                 99.9|                       0.0|        -6.47|                           23.28|        3500.0|            98.6|          195.7|         17.55|          2.3|        80.15|    4.0|    12.07|     8.23|       0.24|    0.34|   0.42|
+------------------+--------------------+-----------+----------+---------------------+--------------------------+-------------+--------------------------------+--------------+----------------+---------------+--------------+-------------+-------------+-------+---------+---------+-----------+--------+-------+
only showing top 10 rows

#### Country Code Mapping

The below code is not necessary to run in this script, as the join_country_and_olympics function calls these functions within. This is included to show what the intermediate id tables look like.

Importantly, these functions sort the distinct country names and country codes alphabetically and assign a monotonically increasing integer to each as an ID. Since there are more country names than distinct country codes, this alphabetic matching is not very accurate in terms of the resulting join; however, it showcases the desired goal of any join, which is to have a common mapping set. See further down in the script for a more dynamic way of joining.

In [5]:
# Add Country_ID to df_countries
df_countries_id = create_country_ids(df_countries)

# Add Country_Code_ID to df_olympics
df_olympics_id = create_country_code_ids(df_olympics)

In [6]:
df_olympics_id.show(5)
df_countries_id.show(5)

+------------+---------------+
|Country_Code|Country_Code_ID|
+------------+---------------+
|         AFG|              1|
|         AIN|              2|
|         ALB|              3|
|         ALG|              4|
|         ARG|              5|
+------------+---------------+
only showing top 5 rows

+---------------+----------+
|   Country_Name|Country_ID|
+---------------+----------+
|   Afghanistan |         1|
|       Albania |         2|
|       Algeria |         3|
|American Samoa |         4|
|       Andorra |         5|
+---------------+----------+
only showing top 5 rows

## Joining countries and olympics

The below script uses the join function on the original tables to join the tables together on the monotonically increasing ID's. Within this function, the above ID functions are called and the resulting join generated.

In [7]:
df_countries_olympics = join_country_and_olympics(df_countries, df_olympics)

In [8]:
df_countries_olympics.show(10)

+------------+----+------+------+-----+----+---------------+-----------------+--------------------+-----------+----------+---------------------+--------------------------+-------------+--------------------------------+--------------+----------------+---------------+--------------+-------------+-------------+-------+---------+---------+-----------+--------+-------+----------+
|Country_Code|Gold|Silver|Bronze|Total|Year|Country_Code_ID|     Country_Name|              Region| Population|Area_sq_mi|Pop_Density_per_sq_mi|Coastline_coast_area_ratio|Net_migration|Infant_mortality_per_1000_births|GDP_per_capita|Literacy_percent|Phones_per_1000|Arable_percent|Crops_percent|Other_percent|Climate|Birthrate|Deathrate|Agriculture|Industry|Service|Country_ID|
+------------+----+------+------+-----+----+---------------+-----------------+--------------------+-----------+----------+---------------------+--------------------------+-------------+--------------------------------+--------------+----------------+---------------+--------------+-------------+-------------+-------+---------+---------+-----------+--------+-------+----------+
|         JPN|  27|    14|    17|   58|2020|             65|         Estonia |BALTICS          ...|  1324333.0|   45226.0|                 29.3|                      8.39|        -3.16|                            7.87|       12300.0|            99.8|          333.8|         16.04|         0.45|        83.51|    3.0|    10.04|    13.25|       0.04|    0.29|   0.67|        65|
|         FRA|  10|    12|    11|   33|2020|             44|        Colombia |LATIN AMER. & CAR...|4.3593035E7| 1138910.0|                 38.3|                      0.28|        -0.31|                           20.97|        6300.0|            92.5|          176.2|          2.42|         1.67|        95.91|    2.0|    20.48|     5.58|       0.13|    0.34|   0.53|        44|
|         GER|  10|    11|    16|   37|2020|             48|    Cook Islands |OCEANIA          ...|    21388.0|     240.0|                 89.1|                      50.0|         NULL|                            NULL|        5000.0|            95.0|          289.9|         17.39|        13.04|        69.57|    2.0|     21.0|     NULL|       0.15|     0.1|   0.75|        48|
|         CHN|  38|    32|    19|   89|2020|             23|         Bermuda |NORTHERN AMERICA ...|    65773.0|      53.0|               1241.0|                    194.34|         2.49|                            8.53|       36000.0|            98.0|          851.4|          20.0|          0.0|         80.0|    2.0|     11.4|     7.74|       0.01|     0.1|   0.89|        23|
|         AUS|  17|     7|    22|   46|2020|              7|        Anguilla |LATIN AMER. & CAR...|    13477.0|     102.0|                132.1|                      59.8|        10.76|                           21.03|        8600.0|            95.0|          460.0|           0.0|          0.0|        100.0|    2.0|    14.17|     5.34|       0.04|    0.18|   0.78|         7|
|         NED|  10|    12|    14|   36|2020|             87|          Guinea |SUB-SAHARAN AFRIC...|  9690222.0|  245857.0|                 39.4|                      0.13|        -3.06|                           90.37|        2100.0|            35.9|            2.7|          3.63|         2.58|        93.79|    2.0|    41.76|    15.48|       0.24|    0.36|    0.4|        87|
|         ITA|  10|    10|    20|   40|2020|             62|     El Salvador |LATIN AMER. & CAR...|  6822378.0|   21040.0|                324.3|                      1.46|        -3.74|                            25.1|        4800.0|            80.2|          142.4|         31.85|        12.07|        56.08|    2.0|    26.61|     5.78|        0.1|     0.3|    0.6|        62|
|         NOC|NULL|  NULL|  NULL| NULL|2020|             90|           Haiti |LATIN AMER. & CAR...|  8308504.0|   27750.0|                299.4|                      6.38|         -3.4|                           73.45|        1600.0|            52.9|           16.9|          28.3|        11.61|        60.09|    2.0|    36.44|    12.17|       0.28|     0.2|   0.52|        90|
|         USA|  39|    41|    33|  113|2020|            131|Marshall Islands |OCEANIA          ...|    60422.0|   11854.0|                  5.1|                      3.12|        -6.04|                           29.45|        1600.0|            93.7|           91.2|         16.67|        38.89|        44.44|    2.0|    33.05|     4.78|       0.32|    0.15|   0.53|       131|
|         GBR|  22|    20|    22|   64|2020|             46|Congo, Dem. Rep. |SUB-SAHARAN AFRIC...|6.2660551E7| 2345410.0|                 26.7|                       0.0|          0.0|                           94.69|         700.0|            65.5|            0.2|          2.96|         0.52|        96.52|    2.0|    43.69|    13.27|       0.55|    0.11|   0.34|        46|
+------------+----+------+------+-----+----+---------------+-----------------+--------------------+-----------+----------+---------------------+--------------------------+-------------+--------------------------------+--------------+----------------+---------------+--------------+-------------+-------------+-------+---------+---------+-----------+--------+-------+----------+
only showing top 10 rows

## Extra - Fuzzy Matching! For Fun

The below code shows how you could create your own dictionary to pair 3 letter country codes to their names. This is not perfect, but gets closer to the actual result expected!

In [10]:
## Example of a way to use fuzzy match to get closer to the real country combinations

df_countries_olympics_fuzzy = fuzzy_match(
    spark,
    df_countries,
    df_olympics
)

df_countries_olympics_fuzzy.show(15)

+------------+----+------+------+-----+----+------------+--------------------+-----------+----------+---------------------+--------------------------+-------------+--------------------------------+--------------+----------------+---------------+--------------+-------------+-------------+-------+---------+---------+-----------+--------+-------+
|Country_Code|Gold|Silver|Bronze|Total|Year|Country_Name|              Region| Population|Area_sq_mi|Pop_Density_per_sq_mi|Coastline_coast_area_ratio|Net_migration|Infant_mortality_per_1000_births|GDP_per_capita|Literacy_percent|Phones_per_1000|Arable_percent|Crops_percent|Other_percent|Climate|Birthrate|Deathrate|Agriculture|Industry|Service|
+------------+----+------+------+-----+----+------------+--------------------+-----------+----------+---------------------+--------------------------+-------------+--------------------------------+--------------+----------------+---------------+--------------+-------------+-------------+-------+---------+---------+-----------+--------+-------+
|         AFG|   0|     0|     1|    1|2012|Afghanistan |ASIA (EX. NEAR EA...|3.1056997E7|  647500.0|                 48.0|                       0.0|        23.06|                          163.07|         700.0|            36.0|            3.2|         12.13|         0.22|        87.65|    1.0|     46.6|    20.34|       0.38|    0.24|   0.38|
|         AIN|   1|     3|     1|    5|2024|    Bahrain |NEAR EAST        ...|   698585.0|     665.0|               1050.5|                     24.21|         1.05|                           17.27|       16900.0|            89.1|          281.3|          2.82|         5.63|        91.55|    1.0|     17.8|     4.14|       0.01|    0.39|   0.61|
|         ALB|   0|     0|     2|    2|2024|    Albania |EASTERN EUROPE   ...|  3581655.0|   28748.0|                124.6|                      1.26|        -4.93|                           21.52|        4500.0|            86.5|           71.2|         21.09|         4.42|        74.49|    3.0|    15.11|     5.22|       0.23|    0.19|   0.58|
|         ALG|   2|     0|     1|    3|1996|    Algeria |NORTHERN AFRICA  ...|3.2930091E7| 2381740.0|                 13.8|                      0.04|        -0.39|                            31.0|        6000.0|            70.0|           78.1|          3.22|         0.25|        96.53|    1.0|    17.14|     4.61|        0.1|     0.6|    0.3|
|         ALG|   1|     1|     3|    5|2000|    Algeria |NORTHERN AFRICA  ...|3.2930091E7| 2381740.0|                 13.8|                      0.04|        -0.39|                            31.0|        6000.0|            70.0|           78.1|          3.22|         0.25|        96.53|    1.0|    17.14|     4.61|        0.1|     0.6|    0.3|
|         ALG|   0|     2|     0|    2|2016|    Algeria |NORTHERN AFRICA  ...|3.2930091E7| 2381740.0|                 13.8|                      0.04|        -0.39|                            31.0|        6000.0|            70.0|           78.1|          3.22|         0.25|        96.53|    1.0|    17.14|     4.61|        0.1|     0.6|    0.3|
|         ALG|   1|     0|     0|    1|2012|    Algeria |NORTHERN AFRICA  ...|3.2930091E7| 2381740.0|                 13.8|                      0.04|        -0.39|                            31.0|        6000.0|            70.0|           78.1|          3.22|         0.25|        96.53|    1.0|    17.14|     4.61|        0.1|     0.6|    0.3|
|         ALG|   2|     0|     1|    3|2024|    Algeria |NORTHERN AFRICA  ...|3.2930091E7| 2381740.0|                 13.8|                      0.04|        -0.39|                            31.0|        6000.0|            70.0|           78.1|          3.22|         0.25|        96.53|    1.0|    17.14|     4.61|        0.1|     0.6|    0.3|
|         ARG|   2|     0|     4|    6|2004|  Argentina |LATIN AMER. & CAR...|3.9921833E7| 2766890.0|                 14.4|                      0.18|         0.61|                           15.18|       11200.0|            97.1|          220.4|         12.31|         0.48|        87.21|    3.0|    16.73|     7.55|        0.1|    0.36|   0.55|
|         ARG|   0|     2|     1|    3|1996|  Argentina |LATIN AMER. & CAR...|3.9921833E7| 2766890.0|                 14.4|                      0.18|         0.61|                           15.18|       11200.0|            97.1|          220.4|         12.31|         0.48|        87.21|    3.0|    16.73|     7.55|        0.1|    0.36|   0.55|
|         ARG|   0|     2|     2|    4|2000|  Argentina |LATIN AMER. & CAR...|3.9921833E7| 2766890.0|                 14.4|                      0.18|         0.61|                           15.18|       11200.0|            97.1|          220.4|         12.31|         0.48|        87.21|    3.0|    16.73|     7.55|        0.1|    0.36|   0.55|
|         ARG|   3|     1|     0|    4|2016|  Argentina |LATIN AMER. & CAR...|3.9921833E7| 2766890.0|                 14.4|                      0.18|         0.61|                           15.18|       11200.0|            97.1|          220.4|         12.31|         0.48|        87.21|    3.0|    16.73|     7.55|        0.1|    0.36|   0.55|
|         ARG|   1|     1|     2|    4|2012|  Argentina |LATIN AMER. & CAR...|3.9921833E7| 2766890.0|                 14.4|                      0.18|         0.61|                           15.18|       11200.0|            97.1|          220.4|         12.31|         0.48|        87.21|    3.0|    16.73|     7.55|        0.1|    0.36|   0.55|
|         ARG|   1|     1|     1|    3|2024|  Argentina |LATIN AMER. & CAR...|3.9921833E7| 2766890.0|                 14.4|                      0.18|         0.61|                           15.18|       11200.0|            97.1|          220.4|         12.31|         0.48|        87.21|    3.0|    16.73|     7.55|        0.1|    0.36|   0.55|
|         ARG|   0|     1|     2|    3|2020|  Argentina |LATIN AMER. & CAR...|3.9921833E7| 2766890.0|                 14.4|                      0.18|         0.61|                           15.18|       11200.0|            97.1|          220.4|         12.31|         0.48|        87.21|    3.0|    16.73|     7.55|        0.1|    0.36|   0.55|
+------------+----+------+------+-----+----+------------+--------------------+-----------+----------+---------------------+--------------------------+-------------+--------------------------------+--------------+----------------+---------------+--------------+-------------+-------------+-------+---------+---------+-----------+--------+-------+
only showing top 15 rows

In [11]:
# Write the fuzzy joined data as parquet

df_countries_olympics_fuzzy.write.parquet("country_olympics_join.parquet")